@import "init/index";
@import "typography/index";
@import "navigation/index";
@import "header/index";
@import "main-sections/index";
@import "footer/index";

// $dark: #100e17;
// $brightred: #F71735;
// $redish: #E84855;
// $sunsetorange: #FF5A5F;
// $teal: rgb(58, 202, 183);
// $offwhite: #FDFFFC;
// $redviolet: #B91372;
// $purple: #5E35B1;
// $grey: #a6aeb4;
// $yellow: #FDD835;


body {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background: url(../img/prism.png);
}



h1, h2, h3, h4 {
    font-weight: 400;
}

a:hover {
    text-decoration: none;
}

//Utility Classes

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-space-around {
    display: flex;
    justify-content: space-around;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.inline-block {
    display: inline-block;
}

.line {
    height: 2px;
    width: 90px;
    background-color: $purple;
    margin-bottom: 30px;
}

.section-title {
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 5px;
    display: inline-block;
    text-align: center;
    margin-top: 64px;
 }

 .center-align-txt {
     text-align: center;
 }

 .center-align-blk {
     margin-left: auto;
     margin-right: auto;
 }

@media(min-width:480px)
{
    .cta-flx-center {
        display: flex;
        justify-content: center;
    }

    .line {
        display: none;
    }
}

@media(min-width:1200px)
{
    .site-nav {
        left: 50%;
        transform: translate(-50%, 0);
    }
}


 