
.find-me-section {
    padding: 20px;

    .social-icons {
        margin-top: 1rem;
    }

    .fa-github {
        margin-bottom: 8px;
    }

    .fa-github, .fa-linkedin-in {
        width: 65px;
    }
}
