
.education-section {
    padding-bottom: 1.3rem;

}

.education-block {
    width: 90%;
    margin-bottom: 30px;
    padding: 1rem;
    border-radius: 10px;

    .education-info {
        margin-top: 0.8rem;
    }
}
