
.find-me-section {
    padding: 0 20px 20px;

    .social-icons {
        margin-top: 2.5rem;
        max-width: 440px;
    }

    .fa-github {
        margin-bottom: 8px;
    }

    .fa-github, .fa-linkedin-in {
        width: 65px;
    }
}

@media(min-width: 480px) {

    .find-me-content {
        padding: 0 15%;   
    }
}
