/*** Variables ***/
$darblue: #011627;
$brightred: #F71735;
$sunsetorange: #FF5A5F;
$teal: rgb(58, 202, 183);
$offwhite: #FDFFFC;
$redviolet: #B91372;
$grey: #a6aeb4;
$yellow: #FFD668;


/*** Styles ***/
.bkg-dark {
        background: #011627;
    }

.main-header
{
    
    a {
        color: $offwhite;
        display: inline-block;
    }

    .cta {
        padding: 8px 32px;
        border-radius: 6px;
    }

    .cta-1 {
        background: $teal;
        color: white;
        margin-bottom: 10px;
    }

    .cta-2 {
        background: $yellow;
        margin-bottom: 20px;
    }

    .gulp-logo {
        width: 24px;
    }

    .header-items {
        width: 480px;
        margin: 0 auto;
        
        li {
            margin: 0 auto;
            text-align: center;
        }
    }

    .emily-avatar {
        width: 100px;
        padding-bottom: 16px;
        border-bottom: 3px solid $sunsetorange;
        margin-bottom: 10px;
    }

    .container {
        margin-top: 20px;
    }
}
