/*** Variables ***/
$dark: #100e17;
$offwhite: #FDFFFC;
$purple: #5E35B1;
$grey: #a6aeb4;
$yellow: #FDD835;


/*** Styles ***/
.bkg-dark {
        background: $dark;
    }

.main-header
{

    padding-bottom: 0.5rem;
    
    a {
        color: $offwhite;
        display: inline-block;
    }

    .cta {
        padding: 8px 15px;
        border-radius: 6px;
        width: 170px;
    }

    .cta-1 {
        background: $purple;
        color: white;
        margin-bottom: 10px;
        
    }

    .cta-2 {
        background: $yellow;
        margin-bottom: 20px;
    }

    .gulp-logo {
        width: 24px;
    }

    .header-items {
        
        li {
            text-align: center;
        }
    }

    .emily-avatar {
        width: 90px;
        padding-bottom: 16px;
        border-bottom: 3px solid $purple;
        margin: 10px 0 30px;
    }

    .container {
        margin-top: 20px;
    }
}

@media (min-width: 480px) {
    .contact {
        margin-right: 5%;
    }
}
