
/*** Variables ***/
$dark: #100e17;
$offwhite: #FDFFFC;
$grey: #a6aeb4;

/*** Styles ***/

.site-nav {
    padding: 0.7rem 1rem;
}

.menu-panel {
    position: fixed;
    display: block;
    width: 100%;
    top: -20rem;
    left: 0;
    padding: 2rem 0;
    background-color: black;
    z-index: 5;
  }

.list-view {
    display: none;
}

.icon-view {
    display: flex;
    justify-content: space-between;

    .fa-bars {
        width: 2.1875rem;
    }

    .container {
        text-align: center;
    }
}

@media(min-width:480px)
{
    .list-view{
        display: flex;
        justify-content: space-around;
    }

    .icon-view{
        display: none;
    }
}