@mixin pxToRem {
    
}

/*** Variables ***/

$const: 0.00625px;

/*** Styles ***/

.site-nav {
    padding: 0.5rem 1rem;
    background: #011627;
}

.list-view {
    display: none;
}

.icon-view {
    display: flex;
    justify-content: space-between;

    .fa-bars {
        width: 2.1875rem;
    }

    .container {
        text-align: center;
    }
}

@media(min-width:600px)
{
    .list-view{
        display: flex;
        justify-content: space-around;
    }

    .icon-view{
        display: none;
    }
}