
/*** Variables ***/
$dark: #100e17;
$brightred: #F71735;
$sunsetorange: #FF5A5F;
$teal: rgb(58, 202, 183);
$offwhite: #FDFFFC;
$redviolet: #B91372;
$grey: #a6aeb4;

/*** Styles ***/

.site-nav {
    padding: 0.5rem 1rem;
    background: $dark;
}

.list-view {
    display: none;
}

.icon-view {
    display: flex;
    justify-content: space-between;

    .fa-bars {
        width: 2.1875rem;
    }

    .container {
        text-align: center;
    }
}

@media(min-width:600px)
{
    .list-view{
        display: flex;
        justify-content: space-around;
    }

    .icon-view{
        display: none;
    }
}