//vars
$purple: #5E35B1;
$dark-purple: #341D61;
$darkgrey: #424949;
$yellow: #FDD835;

//styles
form {
    .small-label {
        margin-left: 7%;
        margin-bottom: 0.4rem;
    }

    .name, .email {
        height: 3.375rem;
    }

    .message {
        height: 8.125rem;
    }

    .contact-input {
        width: 90%;
        border-radius: 12px;
        box-shadow: none;
        border: 1px solid $darkgrey;
        padding: 4px 5px;
        margin-bottom: 1rem;
    }
    
    .contact-button {
        background: $purple;
        border: none;
        border-radius: 4px;
        width: 230px;
        padding: 0.7rem 0;
        margin-bottom: 4rem;
        margin-top: 1.3rem;
    }

    .contact-button:hover {
        background-color: $dark-purple;
    }
}

