/*
* Includes:
*   - color
*   - background-color
*/

/*** Variables ***/
$dark: #100e17;
$offwhite: #FDFFFC;
$purple: #5E35B1;
$grey: #a6aeb4;
$yellow: #FDD835;


/*** Styles ***/
.grey {
    color: $grey;
}

.light {
    color: $offwhite;
}

.bg-grey {
    background-color: $grey;
}

.bg-yellow {
    background-color: $yellow;
}

.hover-purple:hover {
    color: $purple;
}

.site-nav {
    color: $grey;
}

.icon-view .container {
    color: $grey;
}

.main-header {
    color: $offwhite;
}

.job-title {
    color: $grey;
}

.small-label {
    color: grey;
}


.fa-linkedin-in:hover, .fa-github:hover {
    color: $purple;
    // width: 70px;
}
