/*
* Includes:
*   - color
*   - background-color
*/

/*** Variables ***/
$dark: #100e17;
$offwhite: #FDFFFC;
$purple: #5E35B1;
$dark-purple: #341D61;
$grey: #a6aeb4;
$dark-grey: #2E3032;
$yellow: #FDD835;
$dark-yellow: #8B761D;


/*** Styles ***/
.grey {
    color: $grey;
}

.dark-grey {
    color: $dark-grey;
}

.dark-yellow {
    color: $dark-yellow;
}

.yellow {
    color: $yellow;
}

.light {
    color: $offwhite;
}

.bg-light {
    background-color: $offwhite;
}

.bg-white {
    background: #fff;
}

.bg-dark {
    background: $dark;
}

.bg-purple {
    background-color: $purple;
}

.bg-dark-purple {
    background-color: $dark-purple;
}

.bg-grey {
    background-color: $grey;
}

.bg-yellow {
    background-color: $yellow;
}

.hover-purple:hover {
    color: $purple;
}

.site-nav {
    color: $grey;
}

.icon-view .container {
    color: $grey;
}

.main-header {
    color: $offwhite;
}

.job-title {
    color: $grey;
}

.small-label {
    color: grey;
}


.fa-linkedin-in:hover, .fa-github:hover {
    color: $purple;
    // width: 70px;
}
