/*
* Includes:
*   - font-family
*   - font-style
*   - font-weight
*   - font-size
*   - text-decoration
*   - line-height
*/

/*** Variables ***/
$h1: 7.594em;
$h2: 5.063em;
$h3: 3.375em;
$h4: 2.25em;
$h5: 1.2em;

$s1: 0.875rem;
$s2: 0.75rem;
$s3: 0.5625rem;

$raleway:'Raleway', sans-serif;
$title-font: 'Major Mono Display', monospace;
/*** Styles ***/

body {
    font-family: $raleway;
}

.header-title {
    font-size: 2.5rem;
    font-stretch: 50%;
    font-family: $title-font;
    line-height: 1;
}

.phone-number {
    font-family: $title-font;
}

.job-title {
    font-weight: 400;
}

.fnt-h5 {
    font-size: $h5;
}

.fnt-sm-1 {
    font-size: $s1;
}

.fnt-sm-2 {
    font-size: $s2;
}

.fnt-sm-3 {
    font-size: $s3;
}

.bold {
    font-weight: bold;
}
